<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getTitle()}">Книга</title>
</head>
<body>
<div class="frame">
    <p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()}
    + ', ' + ${book.getYear()}">VALUE</p>
</div>
<br/>
<div th:if="${reader}">
        <p th:text="'Книга находится У: ' + ${reader.getName()}"></p>
    </div>
<div th:unless="${reader}">
    <form>
    <p>Эта книга свободна. Кому ее назначить?</p>
        <select th:object="${person}" th:field="*{id}" name="person">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getName}">
            </option>
        </select>
    </form>
    </p>
</div>

<hr/>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Редактировать</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
<input type="button" onclick="history.back();" value="Назад"/>
</body>
</html>