<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getTitle()}">Книга</title>
</head>
<body>
<div class="frame">
    <p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}">VALUE</p>
<br/>
    <div th:if="${reader}">
        <p th:text="'Книга находится у: ' + ${reader.getName()}"></p>
        <!--<p th:if="${person}" th:text="'Книга находится у: ' + ${p   erson.name}"></p>-->
        <form th:method="PATCH" th:action="@{/books/{id}/free(id=${book.getId()})}">
    <input type="submit" class="button" value="Освободить">
        </form>
    </div>
    <div th:unless="${reader}">
        <p>Эта книга свободна. Кому ее назначить?</p>
        <form th:method="PATCH" th:action="@{/books/{id}/person(id=${book.getId()})}">
            <label for="person">выберите читателя</label>
        <select th:object="${person}" th:field="*{id}" id="person">
                <option th:each="person : ${people}" th:value="${person.getId()}"
                        th:text="${person.getName}"></option>
        </select>
            <input type="submit" class="button" value="назначить">
        </form>
    </div>
<hr/>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Редактировать</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
<input type="button" onclick="history.back();" value="Назад"/>
</div>
</body>
</html>